@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
/*
######################
#        Reset       #
######################
*/
   body{
      margin: 0;
      padding: 0;
      min-height: 100vh;
   }
   *,*::after,*::before{
      box-sizing: border-box;
   }
   html{
      font-size: 16px;
   }
/*
#######################
#   Utility Classes   #
#######################
*/ 
   /*Colors*/
      .clr-PaleBlue{color: hsl(225, 100%, 94%);}
      .clr-BrightBlue{color: hsl(245, 75%, 52%);}
      .clr-VeryPaleBlue{color: hsl(225, 100%, 98%);}
      .clr-DesaturatedBlue{color: hsl(224, 23%, 55%);}
      .clr-DarkBlue{color: hsl(223, 47%, 23%);}
      .clr-White{color: white;}

      .bg-PaleBlue{background-color: hsl(225, 100%, 94%);}
      .bg-BrightBlue{background-color: hsl(245, 75%, 52%);}
      .bg-VeryPaleBlue{background-color: hsl(225, 100%, 98%);}
      .bg-DesaturatedBlue{background-color: hsl(224, 23%, 55%);}
      .bg-DarkBlue{background-color: hsl(223, 47%, 23%);}
      .bg-White{background-color: white;}
   /*Typo*/
      .fs-100{font-size: 1rem;}
      .fs-200{font-size: 1.5rem;}
      .fs-300{font-size: 2rem;}
      .fs-400{font-size: 2.5rem;}
      .fs-500{font-size: 3rem;}

      .fw-500{font-weight: 500;}
      .fw-700{font-weight: 700;}
      .fw-900{font-weight: 900;}

      .ff-RedHat{font-family: 'Red Hat Display', sans-serif;}
   /*Other*/
      .d-flex{display: flex;}
      .jcc{justify-content: center;}
      .aic{align-items: center;}
      .t-center{text-align: center;}
      .row{flex-direction: row;}
      .column{flex-direction: column;}
      .d-block{display: block;}
      .m-auto{margin: 0 auto;}

/*
#######################
#       Styling       #
#######################
*/

body{
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url('./assets/images/pattern-background-desktop.svg');
   background-size: 150%;
   background-position: top center;
   background-repeat: no-repeat;
   background-color: hsl(225, 100%, 94%);
}
.container{
   width: min-content;
   box-shadow: 0px 20px 20px 0px hsl(225, 31%, 81%);
   border-radius: 1rem;
}
.content{
   
   padding: 2.5rem 3rem;
   gap: 1rem;
   border-radius: 0 0 1rem 1rem;
}
.HeaderImg{
   border-radius:1rem 1rem  0 0;
}
.title, .text-content{
   margin: 0;
}
.items{
   gap: 1rem;
   padding-inline: 1.5rem;
   margin-block: 1.25rem;
}
.items > div{
   margin-right: auto;
   gap: .1rem;
}
.items > div > *{
   margin: 0;
   
}
.btn{
   width: 100%;
   padding-block: .5rem;
   border: 0;
   border-radius: .5rem;
   cursor: pointer;
}
.primary-btn{
      box-shadow: 0px 8px 7px 0px hsl(224, 23%, 55%);
}
.attribution{
   position: fixed;
   bottom: 10px;
   left: 0;
   right: 0;
   text-align: center;
}
.attribution a{
   color: blue;
}
.primary-btn,.link,.secondary-btn{
   transition: .2s;
}
.primary-btn:hover,.link:hover{
   transition: .2s;
   opacity: 0.7;
}
.secondary-btn:hover{
   color: hsl(223, 47%, 23%);
}